table{
    border: 1px solid orange;
}

td{
    background-color: lightblue;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hivatkozas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid skyblue;
    height: 100px;
    width: 100px;
    background-color: skyblue;
}